<mat-toolbar color="basic">
    
    <div >
        <ul fxLayout fxLayoutGap="25px" class="navigation-items">
            <li>
                <a mat-list-item routerLink="/Calgary">Calgary</a>
            </li>
            <li>
                <a mat-list-item routerLink="/Airdrie">Airdrie</a>
            </li>
            <li>
                <a mat-list-item routerLink="/Chestermere">Chestermere</a>
            </li>
            <li>
                <a mat-list-item routerLink="/other-town-listing">Other Nearest Towns</a>
            </li>
        </ul>
    </div>

</mat-toolbar>