<!-- <mat-toolbar>
  <div>
       <button mat-button routerLink= "/buyers/buyers-home" >Buyers-Home</button>
       <button mat-button routerLink= "/buyers/calgary-listing" >Calgary-Listing</button>
       <button mat-button >Sellers</button>
       <button mat-button >Commercials</button>
       <button mat-button >Mortgage</button>
   </div>
</mat-toolbar> -->
<mat-toolbar color="basic">
    
  <!-- <mat-toolbar-row> -->
      <div >
          <ul fxLayout fxLayoutGap="25px" class="navigation-items">
            <li>
              <a mat-list-item routerLink="/mortgage/home">MortgageHome</a>
            </li>
            <li>
                <a mat-list-item routerLink="/mortgage/new">new mortgage</a>
            </li>
            <li>
                <a mat-list-item routerLink="/mortgage/renew">renew your mortgage</a>
            </li>
            <li>
                <a mat-list-item routerLink="/mortgage/rates">our rates</a>
            </li>
            <li>
                <a mat-list-item routerLink="/mortgage/refinace">refinance</a>
            </li>
            <li>
                <a mat-list-item routerLink="/mortgage/commercial-loans">commercial loans</a>
            </li>
          </ul>
      </div>

  <!-- </mat-toolbar-row> -->
</mat-toolbar>