<mat-toolbar>
    
    <a routerLink="/" >
        <img width="50" src="../../../assets/logo.png" class="logo" title="Real Estate" />
    </a>

    <span style="flex: 1 1 auto;"></span>
    <span>Call Now <a href="tel:403-807-1616">403-807-1616</a></span>
    <div>
        
        <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="accountMenu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #accountMenu [overlapTrigger]="false" yPosition="below">
            <button mat-menu-item routerLink="#">
                <mat-icon>person</mat-icon><span>My Account</span>
            </button>
            <button mat-menu-item>
                <mat-icon>help</mat-icon><span>Help</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item *ngIf="isLoggedIn == 'true' && userInfo != null && (userInfo.role == 'ROLE_Team' || userInfo.role == 'ROLE_Admin')">
                <mat-icon>groups</mat-icon><span>Leads</span>
            </button>
            <button mat-menu-item *ngIf="isLoggedIn == 'true' && userInfo != null && (userInfo.role == 'ROLE_Admin')">
                <mat-icon>groups</mat-icon><span>Admin Leads</span>
            </button>
            <button mat-menu-item *ngIf="isLoggedIn == 'true' && userInfo != null && (userInfo.role == 'ROLE_Admin')">
                <mat-icon>groups</mat-icon><span>Mortgage Leads</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="guard.authenticate()" *ngIf="isLoggedIn == 'false'">
                <mat-icon>login</mat-icon>Sign-in
            </button>
            <button mat-menu-item (click)="logout()" *ngIf="isLoggedIn == 'true'">
                <mat-icon>login</mat-icon>Sign-out
            </button>
        </mat-menu>
    </div>

</mat-toolbar>
<mat-toolbar color="accent" class="accent-menu-font">
    <button mat-button routerLink="Calgary" (mouseenter)="residentialBtnEnter()">Residential</button>
    <button #commercialBtn mat-button [matMenuTriggerFor]="Commercials" #CommercialsTrigger="matMenuTrigger" (mouseenter)="buttonEnter(CommercialsTrigger)" (mouseleave)="buttonLeave(CommercialsTrigger, commercialBtn)">Commercials</button>
    <button #sellerBtn mat-button [matMenuTriggerFor]="Sellers" #SellersTrigger="matMenuTrigger" (mouseenter)="buttonEnter(SellersTrigger)" (mouseleave)="buttonLeave(SellersTrigger, sellerBtn)">Sellers</button>
    <button #mortgageBtn mat-button [matMenuTriggerFor]="Mortgage" #MortgageTrigger="matMenuTrigger" (mouseenter)="buttonEnter(MortgageTrigger)" (mouseleave)="buttonLeave(MortgageTrigger, mortgageBtn)">Mortgage</button>
</mat-toolbar>

<mat-menu #Commercials="matMenu">
    <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(CommercialsTrigger, commercialBtn)">
        <button mat-menu-item routerLink= "commercials/home">Commercials-Home</button>
    </span>
</mat-menu>

<mat-menu #Sellers="matMenu">
    <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(SellersTrigger, sellerBtn)">
        <button mat-menu-item routerLink= "sellers/home">Sellers-Home</button>
    </span>
</mat-menu>

<mat-menu #Mortgage="matMenu">
    <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(MortgageTrigger, mortgageBtn)">
        <button mat-menu-item routerLink= "mortgage/home">Mortgage-Home</button>
        <button mat-menu-item routerLink= "mortgage/new">New mortgage</button>
        <button mat-menu-item routerLink= "mortgage/renew">Renew your mortgage</button>
        <button mat-menu-item routerLink= "mortgage/rates">Our rates</button>
        <button mat-menu-item routerLink= "mortgage/refinace">Refinance</button>
        <button mat-menu-item routerLink= "mortgage/commercial-loans">Commercial loans</button>
    </span>
</mat-menu>


