<app-creb-nav-bar></app-creb-nav-bar>

<div class="community-content" fxLayout="row wrap" fxLayoutGap="20px grid">
  <div class="community-content-left" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="100%"></div>
  <div class="community-content-middle" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
    <app-community-list-view city="Calgary" district="CAL Zone S" community="Woodlands"></app-community-list-view>
  </div>
  <div class="community-content-right" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="100%"></div>
</div>
